{
  "swagger": "2.0",
  "info": {
    "title": "mingqing-apilogin-v1",
    "version": "0.1.0",
    "contact": {
      "name": "apilogin.v1.mingqing",
      "url": "http://apilogin.v1.mingqing.api.grpc-kit.com"
    },
    "license": {
      "name": "Apache License 2.0",
      "url": "https://github.com/grpc-kit/cli/blob/main/LICENSE"
    }
  },
  "host": "apilogin.v1.mingqing.api.grpc-kit.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/demo": {
      "get": {
        "summary": "示例 RESTful/RPC 接口",
        "description": "这里做一些较长的使用描述\n 1. POST 用于创建资源，非幂等\n 2. GET 用于获取资源，幂等\n 3. PUT 用于更新资源，幂等\n 4. DELETE 用于删除资源，幂等",
        "operationId": "MingqingApilogin_Demo2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1DemoResponse"
            }
          },
          "204": {
            "description": "",
            "schema": {},
            "examples": {
              "application/json": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "uuid",
            "description": "UUID 资源编号",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "99feafb5-bed6-4daf-927a-69a2ab80c485"
          },
          {
            "name": "ping.name",
            "description": "Name 该字段的备注",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "ping.value",
            "description": "Value 该字段的备注",
            "in": "query",
            "required": true,
            "type": "number",
            "format": "float"
          },
          {
            "name": "ping.age",
            "description": "Age 年龄，设置字段",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": "2",
            "pattern": "^[0-9]$"
          }
        ],
        "tags": [
          "demo"
        ]
      },
      "post": {
        "summary": "示例 RESTful/RPC 接口",
        "description": "这里做一些较长的使用描述\n 1. POST 用于创建资源，非幂等\n 2. GET 用于获取资源，幂等\n 3. PUT 用于更新资源，幂等\n 4. DELETE 用于删除资源，幂等",
        "operationId": "MingqingApilogin_Demo",
        "responses": {
          "200": {
            "description": "Pong 返回创建的资源",
            "schema": {
              "$ref": "#/definitions/DemoResponsePong"
            }
          },
          "204": {
            "description": "",
            "schema": {},
            "examples": {
              "application/json": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "description": "结构体其他更详细的描述",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1DemoRequest"
            }
          }
        ],
        "tags": [
          "demo"
        ]
      }
    },
    "/api/demo/{uuid}": {
      "get": {
        "summary": "示例 RESTful/RPC 接口",
        "description": "这里做一些较长的使用描述\n 1. POST 用于创建资源，非幂等\n 2. GET 用于获取资源，幂等\n 3. PUT 用于更新资源，幂等\n 4. DELETE 用于删除资源，幂等",
        "operationId": "MingqingApilogin_Demo3",
        "responses": {
          "200": {
            "description": "Pong 单个资源响应内容",
            "schema": {
              "$ref": "#/definitions/v1ExampleResponse"
            }
          },
          "204": {
            "description": "",
            "schema": {},
            "examples": {
              "application/json": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "uuid",
            "description": "UUID 资源编号",
            "in": "path",
            "required": true,
            "type": "string",
            "default": "99feafb5-bed6-4daf-927a-69a2ab80c485"
          },
          {
            "name": "ping.name",
            "description": "Name 该字段的备注",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "ping.value",
            "description": "Value 该字段的备注",
            "in": "query",
            "required": true,
            "type": "number",
            "format": "float"
          },
          {
            "name": "ping.age",
            "description": "Age 年龄，设置字段",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": "2",
            "pattern": "^[0-9]$"
          }
        ],
        "tags": [
          "demo"
        ]
      },
      "delete": {
        "summary": "示例 RESTful/RPC 接口",
        "description": "这里做一些较长的使用描述\n 1. POST 用于创建资源，非幂等\n 2. GET 用于获取资源，幂等\n 3. PUT 用于更新资源，幂等\n 4. DELETE 用于删除资源，幂等",
        "operationId": "MingqingApilogin_Demo5",
        "responses": {
          "200": {
            "description": "Empty 返回空的内容",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "204": {
            "description": "",
            "schema": {},
            "examples": {
              "application/json": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "uuid",
            "description": "UUID 资源编号",
            "in": "path",
            "required": true,
            "type": "string",
            "default": "99feafb5-bed6-4daf-927a-69a2ab80c485"
          },
          {
            "name": "ping.name",
            "description": "Name 该字段的备注",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "ping.value",
            "description": "Value 该字段的备注",
            "in": "query",
            "required": true,
            "type": "number",
            "format": "float"
          },
          {
            "name": "ping.age",
            "description": "Age 年龄，设置字段",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": "2",
            "pattern": "^[0-9]$"
          }
        ],
        "tags": [
          "demo"
        ]
      },
      "put": {
        "summary": "示例 RESTful/RPC 接口",
        "description": "这里做一些较长的使用描述\n 1. POST 用于创建资源，非幂等\n 2. GET 用于获取资源，幂等\n 3. PUT 用于更新资源，幂等\n 4. DELETE 用于删除资源，幂等",
        "operationId": "MingqingApilogin_Demo4",
        "responses": {
          "200": {
            "description": "Ping 返回更新的资源",
            "schema": {
              "$ref": "#/definitions/v1ExampleResponse"
            }
          },
          "204": {
            "description": "",
            "schema": {},
            "examples": {
              "application/json": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "uuid",
            "description": "UUID 资源编号",
            "in": "path",
            "required": true,
            "type": "string",
            "default": "99feafb5-bed6-4daf-927a-69a2ab80c485"
          },
          {
            "name": "ping",
            "description": "Ping 资源内容",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1ExampleRequest"
            }
          }
        ],
        "tags": [
          "demo"
        ]
      }
    },
    "/healthz": {
      "get": {
        "summary": "健康检测",
        "description": "请务删除！\\n 接口格式：/healthz?service=apilogin.v1.mingqing\\n 请求成功访问状态码200，且内容为：{\"status\": \"SERVING\"}",
        "operationId": "MingqingApilogin_HealthCheck",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1HealthCheckResponse"
            },
            "examples": {
              "application/json": {
                "value": "the input value"
              }
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "service",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "internal"
        ]
      }
    }
  },
  "definitions": {
    "DemoResponsePong": {
      "type": "object",
      "properties": {
        "uuid": {
          "type": "string",
          "title": "UUID 资源编号"
        },
        "pong": {
          "$ref": "#/definitions/v1ExampleResponse",
          "title": "Pong 单个资源响应内容"
        }
      }
    },
    "HealthCheckResponseServingStatus": {
      "type": "string",
      "enum": [
        "UNKNOWN",
        "SERVING",
        "NOT_SERVING",
        "SERVICE_UNKNOWN"
      ],
      "default": "UNKNOWN"
    },
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string",
          "description": "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
        }
      },
      "additionalProperties": {},
      "description": "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(\u0026foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n\nExample 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\nExample 4: Pack and unpack a message in Go\n\n     foo := \u0026pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := \u0026pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\n\nJSON\n\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": \u003cstring\u003e,\n      \"lastName\": \u003cstring\u003e\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    },
    "statusv1Status": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "status": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/protobufAny"
          }
        }
      },
      "title": "Status 用于定义统一错误状态码"
    },
    "v1DemoRequest": {
      "type": "object",
      "example": {
        "ping": {
          "name": "grpc-kit"
        }
      },
      "properties": {
        "uuid": {
          "type": "string",
          "default": "99feafb5-bed6-4daf-927a-69a2ab80c485",
          "title": "UUID 资源编号"
        },
        "ping": {
          "$ref": "#/definitions/v1ExampleRequest",
          "title": "Ping 资源内容"
        }
      },
      "description": "结构体其他更详细的描述",
      "title": "DemoRequest Demo 方法请求可使用的接口参数",
      "required": [
        "ping"
      ]
    },
    "v1DemoResponse": {
      "type": "object",
      "example": {
        "uuid": "99feafb5-bed6-4daf-927a-69a2ab80c485",
        "pong": {
          "name": "grpc-kit"
        }
      },
      "properties": {
        "pong": {
          "$ref": "#/definitions/DemoResponsePong",
          "title": "Pong 返回创建的资源"
        },
        "content": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1ExampleResponse"
          },
          "title": "Content 多个资源响应内容（无分页属性）"
        },
        "ping": {
          "$ref": "#/definitions/v1ExampleResponse",
          "title": "Ping 返回更新的资源"
        },
        "empty": {
          "type": "object",
          "properties": {},
          "title": "Empty 返回空的内容"
        }
      },
      "title": "DemoResponse Demo方法响应的具体内容"
    },
    "v1ErrorResponse": {
      "type": "object",
      "example": {
        "error": {
          "code": 5,
          "status": "NotFound",
          "message": "unknown service",
          "details": [
            {
              "@type": "type.googleapis.com/grpc_kit.api.known.status.v1.TracingRequest",
              "id": "b17f76dc51de4098bc974e5f2009c097"
            }
          ]
        }
      },
      "properties": {
        "error": {
          "$ref": "#/definitions/statusv1Status"
        }
      },
      "title": "ErrorResponse 用于定义统一错误响应体"
    },
    "v1ExampleRequest": {
      "type": "object",
      "example": {
        "name": "test",
        "value": "test value",
        "age": 9
      },
      "properties": {
        "name": {
          "type": "string",
          "title": "Name 该字段的备注"
        },
        "value": {
          "type": "number",
          "format": "float",
          "title": "Value 该字段的备注"
        },
        "age": {
          "type": "integer",
          "format": "int32",
          "example": 9,
          "default": "2",
          "title": "Age 年龄，设置字段",
          "pattern": "^[0-9]$"
        }
      },
      "title": "ExampleRequest 这里是该类的描述",
      "required": [
        "name",
        "value"
      ]
    },
    "v1ExampleResponse": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "title": "ExampleResponse 这里是描述"
    },
    "v1HealthCheckResponse": {
      "type": "object",
      "properties": {
        "status": {
          "$ref": "#/definitions/HealthCheckResponseServingStatus"
        }
      },
      "title": "HealthCheckResponse 用于健康检测响应，格式同 grpc.health.v1.health 定义"
    }
  },
  "securityDefinitions": {
    "ApiKeyAuth": {
      "type": "apiKey",
      "name": "Authorization: Bearer \u003ctoken\u003e",
      "in": "header"
    },
    "BasicAuth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "BasicAuth": []
    },
    {
      "ApiKeyAuth": []
    }
  ],
  "externalDocs": {
    "description": "Code generated by \"grpc-kit-cli/0.3.1\"",
    "url": "https://grpc-kit.com"
  }
}
