{
  "swagger": "2.0",
  "info": {
    "title": "apilogin.v1.mingqing",
    "version": "0.1.0",
    "contact": {
      "name": "gRPC Kit",
      "url": "https://grpc-kit.com"
    },
    "license": {
      "name": "Apache License 2.0"
    }
  },
  "host": "apilogin.v1.mingqing.api.grpc-kit.com",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/demo": {
      "get": {
        "summary": "示例RESTful/RPC接口",
        "description": "这里做一些较长的使用描述\n 1. POST 用于创建资源，非幂等\n 2. GET 用于获取资源，幂等\n 3. PUT 用于更新资源，幂等\n 4. DELETE 用于删除资源，幂等",
        "operationId": "MingqingApilogin_Demo2",
        "responses": {
          "200": {
            "description": "Content 多个资源响应内容（无分页属性）",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/v1ExampleResponse"
              }
            }
          },
          "204": {
            "description": "no content",
            "schema": {}
          },
          "500": {
            "description": "{\"code\": 500, \"error\": \"internal error\", \"message\": \"internal error\", \"details\": []}",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/runtimeError"
            }
          }
        },
        "parameters": [
          {
            "name": "uuid",
            "description": "UUID 资源编号.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "ping.name",
            "description": "Name 该字段的备注，这里把它设置为必填属性.",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "ping.value",
            "description": "Value 该字段的备注，这里设置它默认值为3.14.",
            "in": "query",
            "required": false,
            "type": "number",
            "format": "float",
            "default": "3.14"
          }
        ],
        "tags": [
          "demo"
        ]
      },
      "post": {
        "summary": "示例RESTful/RPC接口",
        "description": "这里做一些较长的使用描述\n 1. POST 用于创建资源，非幂等\n 2. GET 用于获取资源，幂等\n 3. PUT 用于更新资源，幂等\n 4. DELETE 用于删除资源，幂等",
        "operationId": "MingqingApilogin_Demo",
        "responses": {
          "200": {
            "description": "Pong 返回创建的资源",
            "schema": {
              "$ref": "#/definitions/DemoResponsePong"
            }
          },
          "204": {
            "description": "no content",
            "schema": {}
          },
          "500": {
            "description": "{\"code\": 500, \"error\": \"internal error\", \"message\": \"internal error\", \"details\": []}",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/runtimeError"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1DemoRequest"
            }
          }
        ],
        "tags": [
          "demo"
        ]
      }
    },
    "/api/demo/{uuid}": {
      "get": {
        "summary": "示例RESTful/RPC接口",
        "description": "这里做一些较长的使用描述\n 1. POST 用于创建资源，非幂等\n 2. GET 用于获取资源，幂等\n 3. PUT 用于更新资源，幂等\n 4. DELETE 用于删除资源，幂等",
        "operationId": "MingqingApilogin_Demo3",
        "responses": {
          "200": {
            "description": "Pong 单个资源响应内容",
            "schema": {
              "$ref": "#/definitions/v1ExampleResponse"
            }
          },
          "204": {
            "description": "no content",
            "schema": {}
          },
          "500": {
            "description": "{\"code\": 500, \"error\": \"internal error\", \"message\": \"internal error\", \"details\": []}",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/runtimeError"
            }
          }
        },
        "parameters": [
          {
            "name": "uuid",
            "description": "UUID 资源编号",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "ping.name",
            "description": "Name 该字段的备注，这里把它设置为必填属性.",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "ping.value",
            "description": "Value 该字段的备注，这里设置它默认值为3.14.",
            "in": "query",
            "required": false,
            "type": "number",
            "format": "float",
            "default": "3.14"
          }
        ],
        "tags": [
          "demo"
        ]
      },
      "delete": {
        "summary": "示例RESTful/RPC接口",
        "description": "这里做一些较长的使用描述\n 1. POST 用于创建资源，非幂等\n 2. GET 用于获取资源，幂等\n 3. PUT 用于更新资源，幂等\n 4. DELETE 用于删除资源，幂等",
        "operationId": "MingqingApilogin_Demo5",
        "responses": {
          "200": {
            "description": "Empty 返回空的内容",
            "schema": {
              "properties": {}
            }
          },
          "204": {
            "description": "no content",
            "schema": {}
          },
          "500": {
            "description": "{\"code\": 500, \"error\": \"internal error\", \"message\": \"internal error\", \"details\": []}",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/runtimeError"
            }
          }
        },
        "parameters": [
          {
            "name": "uuid",
            "description": "UUID 资源编号",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "ping.name",
            "description": "Name 该字段的备注，这里把它设置为必填属性.",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "ping.value",
            "description": "Value 该字段的备注，这里设置它默认值为3.14.",
            "in": "query",
            "required": false,
            "type": "number",
            "format": "float",
            "default": "3.14"
          }
        ],
        "tags": [
          "demo"
        ]
      },
      "put": {
        "summary": "示例RESTful/RPC接口",
        "description": "这里做一些较长的使用描述\n 1. POST 用于创建资源，非幂等\n 2. GET 用于获取资源，幂等\n 3. PUT 用于更新资源，幂等\n 4. DELETE 用于删除资源，幂等",
        "operationId": "MingqingApilogin_Demo4",
        "responses": {
          "200": {
            "description": "Ping 返回更新的资源",
            "schema": {
              "$ref": "#/definitions/v1ExampleResponse"
            }
          },
          "204": {
            "description": "no content",
            "schema": {}
          },
          "500": {
            "description": "{\"code\": 500, \"error\": \"internal error\", \"message\": \"internal error\", \"details\": []}",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/runtimeError"
            }
          }
        },
        "parameters": [
          {
            "name": "uuid",
            "description": "UUID 资源编号",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "description": "Ping 资源内容",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1ExampleRequest"
            }
          }
        ],
        "tags": [
          "demo"
        ]
      }
    },
    "/healthz": {
      "get": {
        "summary": "健康检测",
        "description": "请务删除！\n 接口格式：/healthz?service=apilogin.v1.mingqing\n 请求成功访问状态码200，且内容为：{\"status\": \"SERVING\"}",
        "operationId": "MingqingApilogin_HealthCheck",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1HealthCheckResponse"
            }
          },
          "500": {
            "description": "{\"code\": 500, \"error\": \"internal error\", \"message\": \"internal error\", \"details\": []}",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/runtimeError"
            }
          }
        },
        "parameters": [
          {
            "name": "service",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "internal"
        ]
      }
    }
  },
  "definitions": {
    "DemoResponsePong": {
      "type": "object",
      "properties": {
        "uuid": {
          "type": "string",
          "title": "UUID 资源编号"
        },
        "pong": {
          "$ref": "#/definitions/v1ExampleResponse",
          "title": "Pong 单个资源响应内容"
        }
      }
    },
    "HealthCheckResponseServingStatus": {
      "type": "string",
      "enum": [
        "UNKNOWN",
        "SERVING",
        "NOT_SERVING",
        "SERVICE_UNKNOWN"
      ],
      "default": "UNKNOWN"
    },
    "protobufAny": {
      "type": "object",
      "properties": {
        "type_url": {
          "type": "string",
          "description": "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
        },
        "value": {
          "type": "string",
          "format": "byte",
          "description": "Must be a valid serialized protocol buffer of the above specified type."
        }
      },
      "description": "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(\u0026foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n\nExample 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\nExample 4: Pack and unpack a message in Go\n\n     foo := \u0026pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := \u0026pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\n\nJSON\n\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": \u003cstring\u003e,\n      \"lastName\": \u003cstring\u003e\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    },
    "runtimeError": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string"
        },
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    },
    "v1DemoRequest": {
      "type": "object",
      "example": {
        "ping": {
          "name": "grpc-kit"
        }
      },
      "properties": {
        "uuid": {
          "type": "string",
          "title": "UUID 资源编号"
        },
        "ping": {
          "$ref": "#/definitions/v1ExampleRequest",
          "title": "Ping 资源内容"
        }
      },
      "description": "Demo方法请求可使用的接口参数"
    },
    "v1DemoResponse": {
      "type": "object",
      "example": {
        "uuid": "99feafb5-bed6-4daf-927a-69a2ab80c485",
        "pong": {
          "name": "grpc-kit"
        }
      },
      "properties": {
        "pong": {
          "$ref": "#/definitions/DemoResponsePong",
          "title": "Pong 返回创建的资源"
        },
        "content": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1ExampleResponse"
          },
          "title": "Content 多个资源响应内容（无分页属性）"
        },
        "ping": {
          "$ref": "#/definitions/v1ExampleResponse",
          "title": "Ping 返回更新的资源"
        },
        "empty": {
          "properties": {},
          "title": "Empty 返回空的内容"
        }
      },
      "description": "Demo方法响应的具体内容"
    },
    "v1ExampleRequest": {
      "type": "object",
      "example": {
        "name": "hello grpc-kit"
      },
      "properties": {
        "name": {
          "type": "string",
          "title": "Name 该字段的备注，这里把它设置为必填属性",
          "maxLength": 200,
          "minLength": 1,
          "required": [
            "name"
          ]
        },
        "value": {
          "type": "number",
          "format": "float",
          "default": "3.14",
          "title": "Value 该字段的备注，这里设置它默认值为3.14"
        }
      },
      "description": "Example的请求结构",
      "required": [
        "name"
      ]
    },
    "v1ExampleResponse": {
      "type": "object",
      "example": {
        "name": "grpc-kit"
      },
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "description": "Example的响应结构"
    },
    "v1HealthCheckResponse": {
      "type": "object",
      "properties": {
        "status": {
          "$ref": "#/definitions/HealthCheckResponseServingStatus"
        }
      }
    }
  },
  "securityDefinitions": {
    "BasicAuth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "BasicAuth": []
    }
  ]
}
